<h1>Bean List</h1>
<div class="bean-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div class="bean-table-container">

    <table mat-table [dataSource]="beans" class="bean-table">
      <!-- Blend Name Column -->
      <ng-container matColumnDef="blend_name">
        <th mat-header-cell *matHeaderCellDef>Blend Name</th>
        <td mat-cell *matCellDef="let row">{{row.blend_name}}</td>
      </ng-container>

      <!-- Intensifier Column -->
      <ng-container matColumnDef="intensifier">
        <th mat-header-cell *matHeaderCellDef>Intensifier</th>
        <td mat-cell *matCellDef="let row">{{row.intensifier}}</td>
      </ng-container>

      <!-- Variety Column -->
      <ng-container matColumnDef="variety">
        <th mat-header-cell *matHeaderCellDef>Variety</th>
        <td mat-cell *matCellDef="let row">{{row.variety}}</td>
      </ng-container>

      <!-- View Details Button Column-->
      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" [routerLink]="['/view', row.id]" routerLinkActive="router-link-active" >View Details</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of beans"></mat-paginator>
</div>

